@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-destacados{
    font-family: 'PT Serif', serif;;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.font-menu{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    letter-spacing: 2px;
}



.font-desarrollo{
    font-family:'PT Serif', serif ;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#footer{
    width: 100%;
    background-color: rgb(49, 46, 46);
    color: rgb(119, 119, 119);
    padding: 20px 20px;
    background-size: cover;
    background-position: center;

}

.flex-container{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/* Eje X*/
    justify-content: space-evenly;
/*Eje Y*/
align-items: center;

    font-size: 3rem;
    font-family: "poppins", sans-serif;
    background-color: rgba(97, 88, 88, 0.14);
    border-radius: 10px;
    border: 2px solid rgb(27, 27, 25);
}

.flex-container *{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(65, 93, 93);

}
.uno{
    order: 3;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "poppins", sans-serif;
    background-color: #000;

}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer ;
}

.nav__list{
    display: flex;
    list-style-type: none;
}

.nav__list .list__links{
    padding: 0 15px;
}

.corredores__list{
    display: flex;
    justify-content: center;
    
}

.grid-container{
    margin: 40px auto;      

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "uno      dos"
    "tres  cuatro"
    "cinco   seis"

    ;
    gap: 16px;



}


.noticias {
justify-content: center;

}

@mixin item ($border) {
    border-radius: $border;
    display: flex;
    justify-content: space-evenly;

}

.items {
    @include item(1px)
    
}
.item-1{
    grid-area: uno;

}

.item-2{
    grid-area: dos;
}

.item-3{
    grid-area: tres;
}

.item-4{
    grid-area: cuatro;

}

.item-5{
    grid-area: cinco;
}
.item-6{
    grid-area: seis;
}
.grid-container1{
    margin: 40px auto;      


    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h"
    ;
    gap: 10px;

}
#nav2 {
    display: none;
}

body {

background-image: url(../css/img/back/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
background-position:center ;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;

}

.banderas {
    image-rendering: auto;
    image-resolution: 100px;
}


@media (max-width: 768px){
    .grid-container{    

        margin: 40px auto;      
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        ;
        gap: 10px;
    
    }
    .item2{
        display: none;
    }


    .grid-container1{
        margin: 40px auto;      
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        ;
        gap: 10px;
    
    }
.table table-striped{
    font-size: medium;
    background-color: rgb(131, 126, 126);
}
#footer{
    width: 100%;
    background-color: rgb(49, 46, 46);
    color: rgb(119, 119, 119);
    padding: 20px 20px;
    background-position: center;
    text-align: center;



}

#nav1 {
    display: none;
}

#nav2 {
    display: flex;
}

}
%placeholder1
{
    border: 1px solid black;
    background: #ccc;


}

.button{
@extend %placeholder1
}

.button-1{
    @extend %placeholder1;
    background: red;
    
}
